  .product-img img {
    border-radius: 7px 0 0 7px;
  }
  
  .product-text h1 {
    
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
    margin: 0 0 15px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
  }
  
  .product-text p {
    height: 125px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
    padding: 0px 10px;
  }
  
  .product-price-btn {
    margin-top: 17px;
    text-align: center;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
  }
  
  .product-price-btn button {
    height: 50px;
    width: 176px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #b11112;
    cursor: pointer;
    outline: none;
  }
  
  .product-price-btn button:hover {
    background-color: #b91414;
  }


.product-img {
  width: 100%;
}

.product-info {
  padding: 0px 20px;
  width: 100%;
}

.product-text {
  height: 300px;
  overflow: hidden;
}

.wrapper {
  height: 420px;
  width: 100%;
  display: flex;
  background: white;
}
